{% extends 'base.html' %}

{% block content %}
    <div style="max-width: 800px; margin: auto; text-align: center; padding: 20px;">
        <h2 style="color: #FFD700;">We are passionate about making a difference in society.<br><br></h2>
        
        <h2 style="color: #FFD700;">Meet Our Team</h2>
        
        <ul style="list-style-type: none; padding: 0; font-size: 18px; font-weight: bold; color: #FFF;">
            <li>Dhruvi Patel</li>
            <li>Urja Mehta</li>
        </ul>

        <p style="color: #FFD700; font-size: 20px;"><br>Thank you for visiting our website!</p>
    </div>
{% endblock %}
