{% extends 'base.html' %} 

{% block content %} 
    <div style="max-width: 800px; margin: auto; text-align: center; padding: 20px; color: #FFF;">

        <h2 style="font-weight: bold; color: #FFD700;">CONTACT US <br><br></h2>
        <p>For any queries regarding this website, contact us at:</p>

        <p><strong>Email:</strong> dhruvipatell686@gmail.com</p>
        <p><strong>Contact:</strong> +91 7227909031 <br><br><br></p>

        <p style="font-weight: bold; color: #FFD700;">Thank you for visiting our website!</p>
    </div>
{% endblock %} 
